@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #393e46;
    --font-color: #eeeeee;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Montserrat";
    min-width: 300px;
    height: 100%;
}

.dark-mode {
    background-color: var(--font-color);
    color: var(--bg-color);
}

.main-container {
    width: 60%;
    text-align: center;
    margin: auto;
}

.greeting-container {
    margin: 3rem auto;
}

.game-container {
    margin: auto;
}

.make-choice {
    width: 300px;
    margin: 1rem auto;
    margin-top: 4rem;
}

.computer-choice {
    list-style: none;
}

.player-buttons {
    list-style: none;
}

.button {
    font-size: 7rem;
    background: none;
    margin: 0.5rem;
    display: inline;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    border: none;
}

button i {
    color: var(--font-color);
}

button:hover {
    cursor: pointer;
    scale: 1.05;
}

button:active {
    scale: 0.97;
    color: #9fa6b2;
}
button:focus {
    color: #2f3134;
}

.result-container {
    margin: 1rem;
    font-size: 2rem;
}

.result-container i {
    font-size: 3rem;
    padding: 1rem;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .main-container {
        width: 100%;
    }

    .greeting-container {
        font-size: 0.5rem;
    }

    .button {
        font-size: 3rem;
    }

    .result-container {
        font-size: 1.5rem;
    }
}
